<!DOCTYPE html>

<title>New Figure</title>

{% block body %}
    <h1>Create new Figure</h1>

    {{ include('figure/_form.html.twig') }}

    <a href="{{ path('app_figure_index') }}">back to list</a>
{% endblock %}
