<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUAI ANTIQUE</title>

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/assets/js/script.js" defer></script>

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap" rel="stylesheet">

    <!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>


<body>

  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img class="bi me-2" width="40" height="40" role="img" aria-label="Bootstrap" src="/asset/media/img/logo2.png"> </img>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/index.html" class="nav-link px-2 link-secondary">Accueil</a></li>
          <li><a href="/pages/Menu.html" class="nav-link px-2 link-dark reservation">Menu</a></li>
          <li><a href="/public/pages/Reservation.html.twig" class="nav-link px-2 link-dark reservation"><mark>Réserver</mark></a></li>
          <li><a href="/pages/Se connecter.html" class="nav-link px-2 link-dark">Se connecter</a></li>
        </ul>
        



        
      </div>
    </div>

  </header>

  <div class="container">
    <img src="/asset/media/img/logo6.png" alt="">
  </div>

  <div>
    <h1>Formulaire de réservation</h1>
  </div>
 <div class="space"></div>
<div class="container-xl">

  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Nom</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">

      <label for="exampleFormControlSelect1">Prénom</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
      <label for="exampleFormControlSelect1">Nombre de couvert</label>

      <select class="form-control" id="exampleFormControlSelect1">
        
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>

      </select>

      <label for="exampleFormControlSelect1">Pour quelle heure ?</label>

      <select class="form-control" id="exampleFormControlSelect1">
        
        <option>12:00</option>
        <option>12:15</option>
        <option>12:30</option>
        <option>12:45</option>
        <option>13:00</option>
        <option>13:15</option>
        <option>13:30</option>
        <option>13:45</option>
        <option>14:00</option>
        <br><br>
        <option>19:00</option>
        <option>19:15</option>
        <option>19:30</option>
        <option>19:45</option>
        <option>20:00</option>
        <option>20:15</option>
        <option>20:30</option>
        <option>20:45</option>
        <option>21:00</option>
        <option>21:15</option>
        <option>21:30</option>
        <option>21:45</option>
        <option>22:00</option>

      </select>

    </div>
    
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Allergies ?</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group"> <!-- Date input -->
      <label class="control-label" for="date">Date</label>
      <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
    </div>
    <div class="form-group"> <!-- Submit button -->
      <button class="btn btn-primary " name="submit" type="submit">Envoyer</button>
    </div>
  </form>

</div>

<div class="container-xl">
  <div class="space"></div>
  <h2>
    Tables des Allergènes
  </h2>
  <h3>Allergique ? Merci de nous préciser vos allergies</h3>
</div>

<div class="space"></div>

<div class="container-xl table-color">

  <table class="">
    <thead>
    <tr>
    <th class="rtecenter" scope="col">Allergènes</th>
    <th class="rtecenter" scope="col">Exclusions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td><strong>Céréales contenant du gluten</strong> (blé, seigle, orge, avoine, épeautre, kamut ou leurs souches hybridées) et produits à base de ces céréales.</td>
    <td>
    <ul>
    <li>Sirops de glucose à base de blé, y compris le dextrose.</li>
    <li>Maltodextrines à base de blé.</li>
    <li>Sirops de glucose à base d'orge.</li>
    <li>Céréales utilisées pour la fabrication de distillats ou d'alcool éthylique d'origine agricole pour les boissons spiritueuses et d'autres boissons alcooliques.</li>
    </ul>
    </td>
    </tr>
    <tr>
    <td><strong>Crustacés </strong>et produits à base de crustacés</td>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <td><strong>Oeufs </strong>et produits à base d'oeufs</td>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <td><strong>Poissons </strong>et produits à base de poissons</td>
    <td class="rtejustify">Gélatine de poisson utilisée comme support pour les préparations de vitamines ou de caroténoïdes ou ichtyocolle utilisée comme agent de clarification dans la bière et le vin.</td>
    </tr>
    <tr>
    <td><strong>Arachides</strong> et produits à base d’arachide</td>
    <td class="rtejustify">&nbsp;</td>
    </tr>
    <tr>
    <td><strong>Soja </strong>et produits à base de soja</td>
    <td>
    <ul>
    <li>Huile et la graisse de soja entièrement raffinées.</li>
    <li>Tocophérols mixtes naturels.</li>
    <li>Phytostérols et esters de phytostérol dérivés d'huiles végétales de soja.</li>
    <li>Ester de stanol végétal produit à partir de stérols dérivés d'huiles végétales de soja.</li>
    </ul>
    </td>
    </tr>
    <tr>
    <td><strong>Lait </strong>et produits à base de lait (y compris de lactose)</td>
    <td>
    <ul>
    <li>Lactosérum utilisé pour la fabrication de distillats alcooliques, y compris d’alcool éthylique d'origine agricole.</li>
    <li>Lactitol</li>
    </ul>
    </td>
    </tr>
    <tr>
    <td><strong>Fruits à coques</strong> (amandes, noisettes, noix, noix de : cajou, pécan, macadamia, du Brésil, du Queensland, pistaches) et produits à base de ces fruits.</td>
    <td>
    <p style="color:#FF0000">Fruits à coques utilisés pour la fabrication de distillats alcooliques, y compris d’alcool éthylique d'origine agricole.</p>
    </td>
    </tr>
    <tr>
    <td><strong>Céleri </strong>et produits à base de céleri</td>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <td><strong>Moutarde </strong>et produits à base de moutarde</td>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <td><strong>Graines de sésame </strong>et&nbsp; produits à base de graines de sésame</td>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <td><strong>Anhydride sulfureux et sulfites en concentration de plus de 10mg/kg ou 10 mg/l</strong> (exprimés en SO2).</td>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <td><strong>Lupin </strong>et produits à base de lupin</td>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <td><strong>Mollusques </strong>et produits à base de mollusques</td>
    <td>&nbsp;</td>
    </tr>
    </tbody>
    </table>  
</div>




<div class="space"></div>

<div class="container-2">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li><a href="/index.html" class="nav-link px-2 link-secondary">Accueil</a></li>
      <li><a href="/pages/Menu.html" class="nav-link px-2 link-dark reservation">Menu</a></li>
      <li><a href="/public/pages/Reservation.html.twig" class="nav-link px-2 link-dark reservation"><mark>Réserver</mark></a></li>
      <li><a href="/pages/Se connecter.html" class="nav-link px-2 link-dark">Se connecter</a></li>
      <li class="nav-item"><a href="/pages/Mentionslegales.html" class="nav-link px-2 text-muted">Mentions légales</a></li>
    </ul>
    <p class="text-center text-muted">© 2023 Xlrstudio, Inc</p>

</div>
</div>
</section>
</body>
</html>