<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUAI ANTIQUE</title>

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/assets/js/script.js" defer></script>

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap" rel="stylesheet">

</head>  
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img class="bi me-2" width="40" height="40" role="img" aria-label="Bootstrap" src="/asset/media/img/logo2.png"> </img>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/index.html" class="nav-link px-2 link-secondary">Accueil</a></li>
        <li><a href="/pages/Menu.html" class="nav-link px-2 link-dark reservation">Menu</a></li>
        <li><a href="/pages/Reservation.html" class="nav-link px-2 link-dark reservation"><mark>Réserver</mark></a></li>
        <li><a href="/public/pages/Se%20connecter.html.twig" class="nav-link px-2 link-dark">Se connecter</a></li>
      </ul>
      


      
    </div>
  </div>

</header>

<div class="container">
  
<body class="text-center">
    
  <main class="form-signin w-100 m-auto">
    <form>
      <img class="mb-4" src="/asset/media/img/LOGO3.png" alt="" width="300" height="300">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Mot de passe</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Se souvenir de moi ?
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-danger" type="submit">Se connecter</button>
      <p class="mt-5 mb-3 text-muted">© 2017–202</p>
    </form>
  </main>
</div>

  
  
      
    
  
  </body>



<div class="space"></div>

<div class="container-2">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li><a href="/index.html" class="nav-link px-2 link-secondary">Accueil</a></li>
      <li><a href="/pages/Menu.html" class="nav-link px-2 link-dark reservation">Menu</a></li>
      <li><a href="/pages/Reservation.html" class="nav-link px-2 link-dark reservation"><mark>Réserver</mark></a></li>
      <li><a href="/public/pages/Se%20connecter.html.twig" class="nav-link px-2 link-dark">Se connecter</a></li>
      <li class="nav-item"><a href="/pages/Mentionslegales.html" class="nav-link px-2 text-muted">Mentions légales</a></li>
    </ul>
    <p class="text-center text-muted">© 2023 Xlrstudio, Inc</p>

</div>
</div>
</section>
</body>
</html>