<!DOCTYPE html>
<html>
  <head>
    <title>JS Booking</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/0-dummy.css">
    <script src="assets//1-booking.js"></script>
  </head>
  <body>
    <form id="bookForm" onsubmit="return book();">
      <label for="name">Name</label>
      <input type="text" name="name" required>

      <label for="email">Email</label>
      <input type="email" name="email" required>

      <label for="date">Date</label>
      <input type="date" name="date" required>

      <input type="submit" value="Go!" disabled id="bookGo">
    </form>
  </body>
</html>