<!DOCTYPE html>
<html>
<head>
    <title>QUAI ANTIQUE</title>
</head>
<body>
{% extends 'layout.html.twig' %} {% block content_title %}{{ 'menu.dashboard'|trans }}{% endblock %} {% block main %}
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <meta name="description" content="Le restaurant Quai Antique" />
    <meta name="keywords" content="restaurant, restaurant savoyard, Arnaud Michant"/>
    <meta name="author" content="Jason Maurice" />
    
    <link href="public/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">
    <link href='easyadmin/app.efd86111.rtl.css' rel="stylesheet">
    <script defer src="public/asset/js/script.js">
    </script>
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap" rel="stylesheet"><!--  jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript">
    </script> <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link href="https://formden.com/static/cdn/bootstrap-iso.css" rel="stylesheet"><!-- Bootstrap Date-Picker Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js" type="text/javascript">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" rel="stylesheet">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Site Traffic <i>Sessions vs. Users - last 30 days</i>
                </div>
                <div class="panel-body">
                    <div class="text-center" id="chart-1-container"><img alt="" src=""></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Most Popular Demos/Tools <i>Pageviews - last 30 days</i>
                </div>
                <div class="panel-body">
                    <div class="text-center" id="chart-2-container"><img alt="" src=""></div>
                </div>
            </div>
        </div>
    </div>{% endblock %} {% block head_javascript %} {{ parent() }} {% endblock %}
</body>
</html>