<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Le restaurant Quai Antique" />
    <meta name="keywords" content="restaurant, restaurant savoyard, Arnaud Michant"/>
    <meta name="author" content="Jason Maurice" />
        <title>Title</title>
</head>
<body>
    bonjour à tous
</body>
</html>