<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Le restaurant Quai Antique" />
    <meta name="keywords" content="restaurant, restaurant savoyard, Arnaud Michant"/>
    <meta name="author" content="Jason Maurice" />
    
    <title>QUAI ANTIQUE</title>
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script defer src="/assets/js/script.js">
    </script>
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap" rel="stylesheet"><!--  jQuery -->

    <script src="https://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript">
    </script><!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link href="https://formden.com/static/cdn/bootstrap-iso.css" rel="stylesheet"><!-- Bootstrap Date-Picker Plugin -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js" type="text/javascript">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" rel="stylesheet">
</head>
<body>
<div>
    {% include("navbar.html.twig") %} {% block css %} {% endblock %}
    <div>
        <div class="container"><img alt="" src="/asset/media/img/logo6.png"></div>
        <div>
            <h1>Formulaire de réservation</h1>
        </div>
        <div></div>
        <div class="space"></div>
        <div class="container-xl">
            Merci pour votre réservation
        </div>
        <div class="container-xl">
            <div class="space"></div>
            <h2 class="align-content-center">Tables des Allergènes</h2>
            <h3>Allergique ? Merci de nous préciser vos allergies ?</h3>
        </div>
        <div class="space"></div>
        <div class="container-xl table-color">
            <table class="">
                <thead>
                <tr>
                    <th class="rtecenter" scope="col">Allergènes</th>
                    <th class="rtecenter" scope="col">Exclusions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>Céréales contenant du gluten</strong> (blé, seigle, orge, avoine, épeautre, kamut ou leurs souches hybridées) et produits à base de ces céréales.</td>
                    <td>
                        <ul>
                            <li>Sirops de glucose à base de blé, y compris le dextrose.</li>
                            <li>Maltodextrines à base de blé.</li>
                            <li>Sirops de glucose à base d'orge.</li>
                            <li>Céréales utilisées pour la fabrication de distillats ou d'alcool éthylique d'origine agricole pour les boissons spiritueuses et d'autres boissons alcooliques.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>Crustacés</strong> et produits à base de crustacés</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Oeufs</strong> et produits à base d'oeufs</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Poissons</strong> et produits à base de poissons</td>
                    <td class="rtejustify">Gélatine de poisson utilisée comme support pour les préparations de vitamines ou de caroténoïdes ou ichtyocolle utilisée comme agent de clarification dans la bière et le vin.</td>
                </tr>
                <tr>
                    <td><strong>Arachides</strong> et produits à base d’arachide</td>
                    <td class="rtejustify">&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Soja</strong> et produits à base de soja</td>
                    <td>
                        <ul>
                            <li>Huile et la graisse de soja entièrement raffinées.</li>
                            <li>Tocophérols mixtes naturels.</li>
                            <li>Phytostérols et esters de phytostérol dérivés d'huiles végétales de soja.</li>
                            <li>Ester de stanol végétal produit à partir de stérols dérivés d'huiles végétales de soja.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>Lait</strong> et produits à base de lait (y compris de lactose)</td>
                    <td>
                        <ul>
                            <li>Lactosérum utilisé pour la fabrication de distillats alcooliques, y compris d’alcool éthylique d'origine agricole.</li>
                            <li>Lactitol</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>Fruits à coques</strong> (amandes, noisettes, noix, noix de : cajou, pécan, macadamia, du Brésil, du Queensland, pistaches) et produits à base de ces fruits.</td>
                    <td>
                        <p style="color:#FF0000">Fruits à coques utilisés pour la fabrication de distillats alcooliques, y compris d’alcool éthylique d'origine agricole.</p>
                    </td>
                </tr>
                <tr>
                    <td><strong>Céleri</strong> et produits à base de céleri</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Moutarde</strong> et produits à base de moutarde</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Graines de sésame</strong> et&nbsp; produits à base de graines de sésame</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Anhydride sulfureux et sulfites en concentration de plus de 10mg/kg ou 10 mg/l</strong> (exprimés en SO2).</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Lupin</strong> et produits à base de lupin</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><strong>Mollusques</strong> et produits à base de mollusques</td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>{% include("footer.html.twig") %} {% block footer %} {% endblock %}
    </div>
</div>
</body>
</html>