<!DOCTYPE html>
<html data-lt-installed="true" data-turbo="false" dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" name="robots">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="EasyAdmin" name="generator">
    <title>Create Form</title>
    <link href="/bundles/easyadmin/app.efd86111.css" rel="stylesheet">
    <link href="data:image/svg+xml,&lt;svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22&gt;&lt;text y=%221.2em%22 font-size=%2296%22&gt;⬛&lt;/text&gt;&lt;/svg&gt;" rel="shortcut icon">
    <script src="/bundles/easyadmin/app.7ef09592.js">
    </script>
    <script src="/bundles/easyadmin/form.5aa1447f.js">
    </script>
</head>
<body class="ea ea-new ea-new-Form ea-content-width-normal ea-sidebar-width-normal ea-light-scheme" data-ea-content-width="normal" data-ea-dark-scheme-is-enabled="true" data-ea-sidebar-width="normal" id="ea-new-Form" style="color-scheme: light;">
<script src="/bundles/easyadmin/page-layout.3347892e.js">
</script>
<script src="/bundles/easyadmin/page-color-scheme.a1568167.js">
</script>
<div class="page-actions">
    <button class="action-saveAndAddAnother btn btn-secondary action-save" data-action-name="saveAndAddAnother" form="new-Form-form" name="ea[newForm][btn]" type="submit" value="saveAndAddAnother"><span class="btn-label"><span class="action-label">Create and add another</span></span></button> <button class="action-saveAndReturn btn btn-primary action-save" data-action-name="saveAndReturn" form="new-Form-form" name="ea[newForm][btn]" type="submit" value="saveAndReturn"><span class="btn-label"><span class="action-label">Create</span></span></button>
</div>
<form class="ea-new-form" id="new-Form-form" method="post" name="Form">
    <div class="row">
        <input name="referrer" type="hidden" value="http://symfony.localhost/admin?crudAction=index&amp;crudControllerFqcn=App%5CController%5CAdmin%5CFormCrudController">
        <div class="col-md-6 col-xxl-5">
            <div class="field-text form-group">
                <label class="form-control-label required" for="Form_Nom">Nom</label>
                <div class="form-widget">
                    <input class="form-control" id="Form_Nom" name="Form[Nom]" required="required" type="text">
                </div>
            </div>
        </div>
        <div class="flex-fill"></div>
        <div class="col-md-6 col-xxl-5">
            <div class="field-text form-group">
                <label class="form-control-label required" for="Form_Prenom">Prenom</label>
                <div class="form-widget">
                    <input class="form-control" id="Form_Prenom" name="Form[Prenom]" required="required" type="text">
                </div>
            </div>
        </div>
        <div class="flex-fill"></div>
        <div class="col-md-6 col-xxl-5">
            <div class="field-text form-group">
                <label class="form-control-label required" for="Form_email">Email</label>
                <div class="form-widget">
                    <input class="form-control" id="Form_email" name="Form[email]" required="required" type="text">
                </div>
            </div>
        </div>
        <div class="flex-fill"></div>
        <div class="col-md-4 col-xxl-3">
            <div class="field-integer form-group">
                <label class="form-control-label required" for="Form_Couverts">Couverts</label>
                <div class="form-widget">
                    <input class="form-control" id="Form_Couverts" name="Form[Couverts]" required="required" type="number">
                </div>
            </div>
        </div>
        <div class="flex-fill"></div>
        <div class="col-md-4 col-xxl-3">
            <div class="field-integer form-group">
                <label class="form-control-label required" for="Form_Heure">Heure</label>
                <div class="form-widget">
                    <input class="form-control" id="Form_Heure" name="Form[Heure]" required="required" type="number">
                </div>
            </div>
        </div>
        <div class="flex-fill"></div>
        <div class="col-md-6 col-xxl-5">
            <div class="field-text form-group">
                <label class="form-control-label required" for="Form_Allergies">Allergies</label>
                <div class="form-widget">
                    <input class="form-control" id="Form_Allergies" name="Form[Allergies]" required="required" type="text">
                </div>
            </div>
        </div>
        <div class="flex-fill"></div>
        <div class="col-md-6 col-xxl-5">
            <div class="field-date form-group">
                <label class="form-control-label required" for="Form_Date">Date</label>
                <div class="form-widget">
                    <div class="datetime-widget datetime-widget-date">
                        <input class="form-control" id="Form_Date" name="Form[Date]" required="required" type="date">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-fill"></div><input id="Form__token" name="Form[_token]" type="hidden" value="3ed9888690c011e1c304534c.Fw86VAZLJqnrikQjAnOYv5i7I4tYoPJ6giuVt5-YFN8.czhQLnV4H9OJ4XNGbQXpjs_8fMo85asI5G-jwKutZLJUPlxnUhpW_aj8Mw">
    </div>
</form>
<div class="resizer-handler resizer-handler-right" id="content-resizer-handler"></div>
</body>
</html>